body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #e0eafc, #cfdef3);
  color: #333;
}

.app-container {
  display: flex;
}

.dashboard-content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar.closed + .dashboard-content {
  margin-left: 60px;
}

h1 {
  font-size: 28px;
  color: #0047ab;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}
